In [40]:
import time
import numpy as np
import pandas as pd
from geopy.distance import geodesic
from geopy.geocoders import Nominatim

In [24]:
def get_gps_coordinates(city):
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    location = geolocator.geocode(city, timeout=10)
    return (location.latitude, location.longitude)

In [3]:
def compute_distance_from_names(city_1, city_2):
    coords_1 = get_gps_coordinates(city_1)
    coords_2 = get_gps_coordinates(city_2)
    return geodesic(coords_1, coords_2).miles

In [4]:
def compute_distance_from_coords(coords_1, coords_2):
    return geodesic(coords_1, coords_2).miles

In [6]:
compute_distance_from_names('Cleveland, Ohio', 'Parma, Ohio')

8.760422537925797

In [107]:
#gps_coord_df.to_excel('%s/gps_lat_long_coordinates.xlsx' % (datadir))

In [61]:
fix_list = [['Alexandria (Independent City), Virginia', 'Alexandria, Virginia'],
['Baltimore (Independent City), Maryland', 'Baltimore, Maryland'],
['Bellavue, Iowa', 'Bellevue, Iowa'],
['Biddleford Pool, Maine','Biddeford Pool, Maine'],
['Carbon River Entrance, Washington', 'Carbonado, Washington'],
['Carson City (Independent City), Nevada', 'Carson City, Nevada'],
['Charlottesville (Independent City), Virginia', 'Charlottesville, Virginia'],
['Chinook Pass Entrance, Washington', 'Enumclaw, Washington'],
['Collerge Park, Maryland', 'College Park, Maryland'],
['Covington (Independent City), Virginia', 'Covington, Virginia'],
['Cow Island Vicinity, Montana', 'Cow Island, Montana'],
['Cowdry, Colorado', 'Cowdrey, Colorado'],
['Danville (Independent City), Virginia', 'Danville, Virginia'],
['Dennis Bay, Virgin Islands', 'Denis Bay, Virgin Islands'],
['Des Noines, Iowa', 'Des Moines, Iowa'],
["Devil'S Garden Ranger District, California", "Alturas, California"],
['Dinosaur National Monument, Utah', 'Jensen, Utah'],
['Dry Tortugas Islands, Florida', 'Dry Tortugas, Florida'],
['Emporia (Independent City), Virginia', 'Emporia, Virginia'],
['Entait, Washington', 'Entiat, Washington'],
['Estes Park Vicinity, Colorado', 'Estes Park, Colorado',],
['Fort Hancock And Vicinity, New Jersey', 'Middleton, New Jersey'],
['Fredericksburg (Independent City), Virginia', 'Fredericksburg, Virginia'],
['Glacier National Park, W. Glacier, Montana','West Glacier, Montana'],
['Hampton (Independent City), Virginia', 'Hampton, Virginia'],
['Hampton City (Independent City), Virginia', 'Hampton, Virginia'],
['Hooperville, Maryland','Hoopersville, Maryland'],
['Hopewell (Independent City), Virginia', 'Hopewell, Virginia'],
['Islamoranda, Florida', 'Isla Moranda, Florida'],
['Ivens, Utah', 'Ivins, Utah'],
['Jemez Spring, New Mexico', 'Jemez Springs, New Mexico'],
['Johnson City (Mountain Home P.O), Tennessee','Mountain Home, Tennessee'],
['Kailua-Konna, Island Of Hawaii, Hawaii', "Kailua-Kona, Island Of Hawai'i, Hawaii"],
['Ketchiken, Alaska', 'Ketchikan, Alaska'],
['Kiptopke, Virginia', 'Kiptopeke, Virginia'],
['Lackay, Virginia', 'Lackey, Virginia'],
['Lake Whitney Estates, Texas','Whitney, Texas',],
['Lolo Hot Springs, Idaho',  'Lolo, Idaho'],
['Mainitou Springs, Colorado','Manitou Springs, Colorado',],
['Manassas (Independent City), Virginia', 'Manassas, Virginia'],
['Marschfield, Wisconsin', 'Marshfield, Wisconsin'],
['Martinsville (Independent City), Virginia', 'Martinsville, Virginia'],
['Mattpoisett, Massachusetts', 'Mattapoisett, Massachusetts'],
['Metuchen Borough, New Jersey', 'Metuchen, New Jersey'],
['Mill Valley And Stinson Beach, California', 'Stinson Beach, California'],
['Mount Union Borough, Pennsylvania', 'Mount Union, Pennsylvania'],
['Mowich Lake Entrance, Washington', 'Ashford, Washington'],
['Mt. Adams Ranger Dist., Gifford Pinchot Nf, Washington', 'Trout Lake, Washington'],
['Mundfordville, Kentucky', 'Munfordville, Kentucky'],
['Newport News (Independent City), Virginia', 'Newport News, Virginia'],
['Newport News (Independent City), Virginia', 'Newport News, Virginia'],
['Norfolk (Independent City), Virginia', 'Norfolk, Virginia'],
['North Little Rock (Formerly Oakland), Arkansas', 'North Little Rock, Arkansas'],
['Odgen, Utah', 'Ogden, Utah'],
['Page, Arizona, Utah', 'Page, Arizona'],
['Penisula, Ohio', 'Peninsula, Ohio'],
['Petersburg (Independent City), Virginia', 'Petersburg, Virginia'],
['Pilotttown, Louisiana', 'Pilottown, Louisiana'],
['Pohakuluoa, Hawaii', 'Pohakuloa, Hawaii'],
['Point Sal Highlands, California', 'Guadalupe, California'],
['Polock, South Dakota', 'Pollock, South Dakota'],
['Port Comfort, Wisconsin', 'Point Comfort, Wisconsin'],
['Port Ngeles, Washington', 'Port Angeles, Washington'],
['Portsmouth (Independent City), Virginia', 'Portsmouth, Virginia'],
['Red Mountain, California', 'Red Mountains, California'],
['Rhodendron, Oregon', 'Rhododendron, Oregon'],
['Richmond (Independent City), Virginia', 'Richmond, Virginia'],
['Rio Verde Estates, Arizona', 'Rio Verde, Arizona'],
['Rock River--Medicine Bow, Wyoming', 'Rock River, Wyoming'],
['Russelville, Arkansas', 'Russellville, Arkansas'],
['Salem (Independent City), Virginia', 'Salem, Virginia'],
['Sandy Hook, New Jersey', 'Middletown, New Jersey'],
['Scanton, Pennsylvania', 'Scranton, Pennsylvania'],
['Schellsburg Borough, Pennsylvania', 'Schellsburg, Pennsylvania',],
['Schenectedy, New York', 'Schenectady, New York'],
['Sleeping Bear Dunes National Seashor, Michigan', 'Empire, Michigan'],
['St. Louis (Independent City), Missouri', 'St. Louis, Missouri'],
['Staunton (Independent City), Virginia', 'Staunton, Virginia'],
['Stoystown Borough, Pennsylvania', 'Stoystown, Pennsylvania'],
['Suffolk (Independent City), Virginia', 'Suffolk, Virginia'],
['Timberson, New Mexico', 'Timbron, New Mexico'],
['Tusgegee Institute, Alabama', 'Tuskegee, Alabama'],
['Tuskeegee, Alabama', 'Tuskegee, Alabama'],
['Wilsonia, Kings Canyon National Park, California', 'Wilsonia, California'],
['Winchester (Independent City), Virginia', 'Winchester, Virginia'],
['Winter Harbor, Acadia National Park, Maine', 'Winter Harbor, Maine'],
['Angelton, Texas', 'Angleton, Texas'],
['Apradise, Michigan', 'Paradise, Michigan'],
['Austewell, Texas', 'Austwell, Texas'],
['Coeurd Alene, Idaho', "Coeur D'Alene, Idaho"],
['Durang, Colorado', 'Durango, Colorado'],
['Havrede Grace, Maryland', 'Havre de Grace, Maryland'],
['Holllister, California', 'Hollister, California'],
['Mc Bee, South Carolina', 'McBee, South Carolina'],
['Mc Calla, Alabama', 'McCalla, Alabama'],
['Mc Cormick, South Carolina', 'McCormick, South Carolina'],
['Mc Grath, Alaska', 'McGrath, Alaska'],
['Mouthof Wilson, Virginia', 'Mouth of Wilson, Virginia'],
['N ETroy Springs Roaddivstyledivdivdiv, Florida', 'Branford, Florida'],
['Narragansett South Kingston, Rhode Island', 'Narragansett South Kingstown, Rhode Island'],
['North Marineon St Croix, Minnesota', 'North Marine on St Croix, Minnesota'],
['Perwitt, New Mexico', 'Prewitt, New Mexico'],
['Presidioof San Francisco, California', 'San Francisco, California'],
['Quiltman, Mississippi', 'Quitman, Mississippi'],
['Spiritlake, Iowa', 'Spirit Lake, Iowa'],
['Abiqui, New Mexico', 'Abiquiu, New Mexico'],
['Annandaleon Hudson, New York', 'Annandale on Hudson, New York'],
['Battle Township NW NW, Minnesota', 'Battle Township, Minnesota'],
['Bellows Fall, Vermont', 'Bellows Falls, Vermont'],
['Breitung Township NW NW, Minnesota', 'Breitung Township, Minnesota'],
['Caon City, Colorado', 'Canon City, Colorado'],
['Confederated Tribesof Grand Ronde, Oregon', 'Confederated Tribes of Grand Ronde, Oregon'],
['Corrina, Maine', 'Corinna, Maine'],
['Crotonon Hudson, New York', 'Croton on Hudson, New York'],
['De Ruyter, New York', 'De Ruyter, New York'],
['Elks Rapids, Michigan', 'Elk Rapids, Michigan'],
['Flagle, Colorado', 'Flagler, Colorado'],
['Fonddu Lac, Wisconsin', 'Fond du Lac, Wisconsin'],
['Fort Mc Coy, Wisconsin','Fort McCoy, Wisconsin'],
['Fort Mc Kavett, Texas', 'Fort McKavett, Texas'],
['Fort Snelling NW NW, Minnesota', 'Fort Snelling, Minnesota'],
['Frederic, Maryland', 'Frederick, Maryland'],
['Genevaonthe Lake, Ohio', 'Geneva on the Lake, Ohio'],
['Hales Corner, Wisconsin', 'Hales Corners, Wisconsin'],
['Hastingson Hudson, New York', 'Hastings on Hudson, New York'],
['Hnaunau, Hawaii', 'Honaunau, Hawaii'],
['Isleof Wight, Virginia', 'Isle of Wight, Virginia'],
['Kingand Queen Court House, Virginia', 'King and Queen Court House, Virginia'],
['Lacdu Flambeau, Wisconsin', 'Lac du Flambeau, Wisconsin'],
['Laketown Township NW NW, Minnesota', 'Laketown Township, Minnesota'],
['Lower Alloways Creek Township, New Jersey', 'Lower Alloways Creek, New Jersey'],
['Lynville, Tennessee', 'Lynnville, Tennessee'],
['M CB Quantico, Virginia', 'Quantico, Virginia'],
['Manchesterbythe Sea, Massachusetts', 'Manchester by  the Sea, Massachusetts'],
['Margate, New Jersey', 'Margate City, New Jersey'],
['Marine on St Croix, Minnesota', 'Marineon St Croix NW NW, Minnesota'],
['Mc Causland, Iowa', 'McCausland, Iowa'],
['Mc Chord Air Force Base, Washington', 'McChord Air Force Base, Washington'],
['Mc Clellanville, South Carolina', 'McClellanville, South Carolina'],
['Mc Connells, South Carolina', 'McConnells, South Carolina'],
['Mc Connellsburg, Pennsylvania', 'McConnellsburg, Pennsylvania'],
['Mc Connelsville, Ohio', 'McConnelsville, Ohio'],
['Mc Cook Lake, South Dakota', 'McCook Lake, South Dakota'],
['Mc Cook, Nebraska', 'McCook, Nebraska'],
['Mc Henry, North Dakota', 'McHenry, North Dakota'],
['Mc Intosh NW NW, Minnesota', 'McIntosh, Minnesota'],
['Mc Keesport, Pennsylvania', 'McKeesport, Pennsylvania'],
['Mc Laughlin, South Dakota','McLaughlin, South Dakota'],
['Mc Leod, North Dakota', 'McLeod, North Dakota'], 
['Meridenb, Connecticut', 'Meriden, Connecticut'],
['Near Torrington WY, Wyoming', 'Near Torrington, Wyoming'],
['Northwoo, Iowa', 'Northwood, Iowa'],
['O Hara Township, Pennsylvania', "Township of O'Hara, Pennylvania"],
['Orofina, Idaho', 'Orofino, Idaho'],
['Parsipanny, New Jersey', 'Parsippany, New Jersey'],
['Prairiedu Chien, Wisconsin', 'Prairie du Chien, Wisconsin'],
['Prairiedu Rocher, Illinois', 'Prairie du Rocher, Illinois'],
['Prairiedu Sac, Wisconsin', 'Prairie du Sac, Wisconsin'],
['Putin Bay, Ohio', 'Put In Bay, Ohio'],
['Readsborol, Vermont', 'Readsboro, Vermont'],
['Rockhill Furnace, Pennsylvania', 'Rockhill, Pennsylvania'],
['Saint Maryofthe Woods, Indiana', 'Saint Mary of the Woods, Indiana'],
['Salem Rickreallat Brunks Corner, Oregon', 'Brunks Corner, Oregon'],
['Sherman Township NW NW, Minnesota', 'Sherman Township, Minnesota'],
['Stonginton, Michigan', 'Stonington, Michigan'],
['Truthor Consequences, New Mexico', 'Truth Or Consequences, New Mexico'],
['Warrensburh, New York', 'Warrensburg, New York'],
['Washingtononthe Brazos, Texas', 'Washington-on-the-Brazos, Texas'],
['Washingtons Birthplace, Virginia', 'Colonial Beach, Virginia']]

In [63]:
fix_dict = {key: value for (key, value) in fix_list}

In [7]:
datadir = '/Users/klarnemann/Documents/Insight/Insight_project/data'
cities_f = '%s/all_unique_cities.npy' % (datadir)
cities = np.load(cities_f)

In [ ]:
#cities = missing_cities
#len(cities)

In [ ]:
missing_cities = []
for i, city in enumerate(cities):
    time.sleep(1)
    if i % 500 == 0:
        print('%i of %i' % (i, len(cities)))
    try:
        coords = get_gps_coordinates(city)
        city_coords.append([city, coords])
    except:
        if city in fix_dict.keys():
            city = fix_dict[city]
            missing_cities.append(city)

In [105]:
gps_coord_df = pd.DataFrame(city_coords, columns=['Location', 'Coords'])
gps_coord_df.sort_values(by=['Location'], inplace=True)
gps_coord_df.drop_duplicates(inplace=True)
gps_coord_df.reset_index(drop=True, inplace=True)
print(gps_coord_df.shape)
gps_coord_df.head()

(9844, 2)

                    Location                     Coords
0   Aaronsburg, Pennsylvania  (40.8997903, -77.4533235)
1       Abbeville, Louisiana  (29.9746502, -92.1342921)
2     Abbeville, Mississippi  (34.5031591, -89.5031368)
3  Abbeville, South Carolina  (34.1779495, -82.3792463)
4               Abbot, Maine  (45.2050516, -69.4636603)

In [26]:
major_cities = ['New York, New York', 'Los Angeles, California', 'Chicago, Illinois', 
                'Houston, Texas', 'Philadelphia, Pennsylvania', 'Pheonix, Arizona',
                'San Antonio, Texas', 'San Diego, California', 'Dallas, Texas', 
                'San Jose, California', 'Austin, Texas', 'Jacksonville, Florida',
                'San Francisco, California', 'Indianapolis, Indiana', 'Columbus, Ohio',
                'Fort Worth, Texas', 'Charlotte, North Carolina', 'Seattle, Washington',
                'Denver, Colorado', 'El Paso, Texas', 
               'Detroit, Michigan', 'Memphis, Tennessee', 'Boston, Massachusetts',
              'Nashville, Tennessee', 'Baltimore, Maryland', 'Oklahoma City, Oklahoma', 
              'Louisville, Kentucky', 'Portland, Oregon', 'Las Vegas, Nevada', 
              'Milwaukee, Wisconsin', 'Albuquerque, New Mexico', 'Tucson, Arizona', 
              'Fresno, California', 'Sacramento, California', 'Long Beach, California',
              'Kansas City, Missouri', 'Mesa, Arizona', 'Virginia Beach, Virginia', 
              'Atlanta, Georgia', 'Colorado Springs, Colorado', 'Omaha, Nebraska',
              'Raleigh, North Carolina', 'Miami, Florida', 'Oakland, California', 
              'Minneapolis, Minnesota', 'Tulsa, Oklahoma', 'Cleveland, Ohio',
              'Wichita, Kansas', 'Arlington, Texas', 'New Orleans, Louisiana']

In [27]:
major_cities = np.array(major_cities)

In [28]:
major_cities.sort()

In [34]:
#major_cities = [''] + list(major_cities)

In [35]:
#np.save('%s/results/major_cities.npy'  % (datadir), major_cities)

In [43]:
datadir = '/Users/klarnemann/Documents/Insight/Insight_project/data'
dist_df = pd.read_excel('%s/results/distance.xlsx' % (datadir), index_col=0)
dist_df[dist_df.columns] = dist_df[dist_df.columns].astype(int)
#dist_df = dist_df[major_cities]
dist_df.head(2)

,"Albuquerque, New Mexico","Arlington, Texas","Atlanta, Georgia","Austin, Texas","Baltimore, Maryland","Boston, Massachusetts","Charlotte, North Carolina","Chicago, Illinois","Cleveland, Ohio","Colorado Springs, Colorado",...,"Sacramento, California","San Antonio, Texas","San Diego, California","San Francisco, California","San Jose, California","Seattle, Washington","Tucson, Arizona","Tulsa, Oklahoma","Virginia Beach, Virginia","Wichita, Kansas"
"Aaronsburg, Pennsylvania",1635,1223,623,1352,119,346,432,532,224,1456,...,2326,1423,2252,2391,2374,2241,1942,1054,290,1086
"Abbeville, Louisiana",916,348,524,336,1090,1448,750,858,986,946,...,1772,384,1488,1813,1780,2012,1123,481,1045,610

In [45]:
#dist_df.to_excel('%s/results/distance.xlsx' % (datadir))

In [128]:
for ref_city in more_cities:
    dist_df[ref_city] = np.nan
    try:
        ref_coords = gps_coord_df.Coords.loc[gps_coord_df.Location == ref_city].values[0]
    except:
        ref_coords = get_gps_coordinates(ref_city)
    for i, city in enumerate(list(gps_coord_df.Location)):
        tmp_coords = gps_coord_df.Coords.iloc[i]
        dist = compute_distance_from_coords(ref_coords, tmp_coords)
        dist_df.loc[city, ref_city] = dist

In [129]:
dist_df.head()

,"New York, New York","Los Angeles, California","Chicago, Illinois","Houston, Texas","Philadelphia, Pennsylvania","Pheonix, Arizona","San Antonio, Texas","San Diego, California","Dallas, Texas","San Jose, California",...,"Omaha, Nebraska","Raleigh, North Carolina","Miami, Florida","Oakland, California","Minneapolis, Minnesota","Tulsa, Oklahoma","Cleveland, Ohio","Wichita, Kansas","Arlington, Texas","New Orleans, Louisiana"
"Aaronsburg, Pennsylvania",181.198,2269.73,532.558,1266.21,137.283,1960.23,1423.94,2252.24,1205.88,2374.91,...,963.720615,358.921918,1054.247546,2383.662505,848.220515,1054.066782,224.879384,1086.037400,1223.737969,1035.448226
"Abbeville, Louisiana",1259.32,1553.87,858.267,194.675,1180.08,1192.19,384.321,1488.41,336.407,1780.07,...,806.659200,879.684743,785.262228,1805.283116,1036.493227,481.099199,986.445671,610.051115,348.818271,123.812010
"Abbeville, Mississippi",950.117,1639.13,518.635,474.251,874.078,1291.01,633.133,1594.81,436.858,1817.9,...,583.422396,621.119842,819.019298,1836.896391,749.657499,383.841740,643.522576,490.196676,455.544769,315.488382
"Abbeville, South Carolina",643.655,2045.14,602.81,820.59,563.157,1698.66,1001.87,2002.38,837.553,2214.92,...,887.323052,239.212759,593.453583,2232.213732,943.067846,781.927913,506.730820,871.905619,856.174468,536.856306
"Abbot, Maine",386.123,2669.41,938.342,1764.77,464.474,2386.88,1917.37,2666.04,1690.72,2733.59,...,1357.359122,809.083223,1466.734689,2736.694846,1160.147202,1517.938976,666.043259,1528.120919,1707.992529,1536.193594

In [32]:
dist_df.to_excel('%s/results/distance.xlsx' % (datadir))